{% extends "_layout.twig" %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead mb-1" style="background-image: url('{{alias('@web')}}/assets/banners/about.JPG')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{entry.title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <a href="{{alias('@web')}}/en/products" class="btn btn-dark my-4 mx-3">Back</a>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <img src="{{ entry.productImage.one().url() }}" type="button" style="max-width: 100%;" class="img-fluid" class="btn" data-toggle="modal" data-target="#Modal">
        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="{{ entry.productImage.one().url() }}" style="max-width: 100%;" class="img-fluid p-3">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6"> 
        <div class="card">
          <div class="card-body">
            <h2 class="card-title my-3 mb-5">{{entry.title}}</h2>
            <h4 class="my-3"><small>Price:</small> NOK {{entry.price}},-</h4>
            <p class="card-text  my-3"><span><small>description:</small></span> <em>"{{entry.description}}"</em></p>
            <p class=" my-3">Want to buy this product?</p>
            <a href="{{alias('@web')}}/en/contact#main" class="btn btn-dark float-left">Contact Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}