{% extends "_layout.twig" %}

{% block content %}

  <!-- Page Header -->
  {% if entry.productImage.one() %}
  <header class="masthead mb-1" style="background-image: url('{{ entry.productImage.one().url() }}')">
  {% else %}
  <header class="masthead mb-1" style="background-image: url('{{alias('@web')}}/assets/banners/about.JPG')">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1><em>"{{entry.title|capitalize}}"</em></h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <a href="{{alias('@web')}}/en/products" class="btn btn-dark my-4 mx-3">Back</a>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <img src="{{ entry.productImage.one().url() }}" type="button" style="width: 100%; min-height: 450px; max-height: 650px; object-fit: cover;" class="img-fluid img-thumbnail" class="btn" data-toggle="modal" data-target="#Modal">
        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="{{ entry.productImage.one().url() }}" style="max-width: 100%;" class="img-fluid p-3">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6"> 
        <div class="card">
          <div class="card-body">
            <h2 class="card-title my-3">{{entry.title|capitalize}}</h2>
            <h4><small>Price:</small> NOK {{entry.price}},-</h4>
            <p class="card-text my-3"><em>"{{entry.productDescription|capitalize}}"</em></p>
            <p class="my-3"><small>Interested in buying this product?</small></p>
            <a href="{{alias('@web')}}/en/contact#main" class="btn btn-dark float-left">Contact Me</a>
          </div>
          <div class="row mx-1">
          {% for image in entry.productImage.all() %}
            <div class="col-lg-3 col-md-4 col-4 my-auto">
              <div class="d-block mb-4 h-100">
                <img src="{{ image.url() }}" type="button" style="max-width: 100%; object-fit: cover;" class="img-fluid img-thumbnail" class="btn" data-toggle="modal" data-target="#Modal{{image.id}}">
                <!-- Modal -->
                <div class="modal fade" id="Modal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <img src="{{ image.url() }}" style="max-width: 100%;" class="img-fluid p-3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}