{% extends "_layout.twig" %}

{% block content %}

  <!-- Page Header -->
  {% if entry.blogImage.one() %}
  <header class="masthead mb-0" style="background-image: url('{{ entry.blogImage.one().url() }}')">
  {% else %}
  <header class="masthead mb-0" style="background-image: url('{{alias('@web')}}/assets/banners/about.JPG')">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{entry.title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <a href="{{alias('@web')}}/blog" class="btn btn-primary m-3">Tilbake</a>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
      {% if entry.blogImage.one() %}
        <img class="img-fluid" src='{{ entry.blogImage.one().url() }}' style="max-height: 700px; object-fit: cover; width: 100%;">
      {% endif %}
      </div>
      <div class="col-lg-6"> 
        <h2 class="h2 my-2">{{ entry.title }}</h2>
        <p>{{entry.bodyNorwegian}}</p>
      </div>
    </div>
  </div>

{% endblock %}