{% extends "_layout.twig" %}

{% block content %}

  <!-- Page Header -->
  {% if entry.blogImage.one() %}
  <header class="masthead" style="background-image: url('{{ entry.blogImage.one().url() }}')">
  {% else %}
  <header class="masthead" style="background-image: url('{{alias('@web')}}/assets/banners/about.JPG')">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{entry.title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="{{alias('@web')}}/en/blog" class="btn btn-dark my-4">Back</a>
      </div>
      <div class="col-lg-9 mx-auto">
        <h2 class="display-4 my-4 mb-4">{{ entry.title }}</h2>
      {% if entry.blogImage.one() %}
        <img class="img-fluid" src='{{ entry.blogImage.one().url() }}' style="max-height: 700px; object-fit: cover; width: 100%;">
      {% endif %}
        <p>{{entry.body}}</p>
        <p class="text-muted my-1" >Posted on {{ post.postDate | date("d M, Y") }}</p>
        <hr>
      </div>
    </div>
  </div>

{% endblock %}